@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(190deg,#00fe81,#008844 ) ;
}

#form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2e2341;
    border-radius: 10px;
    padding: 60px;
    width: min-content;
    align-items: center;
    color: #00fe81;
    animation: iniciar 1.6s ease-out;
    pointer-events: all;
}

.title{
    font-size: 1.8rem;
    margin-bottom: 10%;
    color: #00fe81;
}

.input{
    min-width: 280px;
    border-radius: 22px;
    border: 2px #00fe81 solid;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input i{
    font-size: 1.2rem;
    padding: 5px;
    background: -webkit-linear-gradient(190deg,#00fe81,#008844 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input input{
    width: 80%;
    border: none;
    outline: none;
    background: #2e2341;
    font-family: 'Montserrat', sans-serif;
    transform: translateY(-10%);
    color: #00fe81;
    font-size: 11pt;
}

#btn{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#btn button{
    font-family: 'Montserrat', sans-serif;
    background: #00fe81;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2rem;
    color: #2e2341;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#btn button:hover{
    background: #008844;
}

@keyframes iniciar{
    0%{
        top: -20%;
        opacity: 0;
        pointer-events: none;
    }
    100%{
        top: 50%;
        opacity: 100%;
        pointer-events: all;
    }
}